@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: .2s linear;
}
.navi {
    background-color: #160013;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header1 {
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: roboto;
    font-size: 50px;
    cursor: pointer;
    color: #ff05ff;
}
nav ul {
    display: flex;
    justify-content: flex-end;
}
nav li {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}

.navi li a {
    color: #ff05ff;
    text-decoration: none;
    font-weight: 700;
    font-style: helvetica, arial, helvetica;
    padding: 20px;
}

.round-frame {
    margin-top: 0%;
    text-align: center;
    background-color: #000000;
}

.round-frame img {
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 20px #ff05ff; 
    cursor: pointer;
    border: 3px solid transparent transparent; 
    transition: 0.2s ease-in-out;
    margin-top: 20px;
}
.round-frame img:hover
{
     box-shadow: 0 0 50px #ff05ff; 
}

.name {
    text-align: center;
    color: #ff05ff; 
    font-size: 50px;
}
nav li:hover {
    text-decoration: underline 5px;
    color: #ff05ff;
}
.introduction {
    background-color: #000000;
}
.intro {
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: medium;
    font-style: helvetica;
    text-align: center;
}
.intr {
    font-style: helvetica;
    text-align: center;
    color: #f042de;
}
.col1 {
    padding-bottom: 0px;
    margin-top: -75px;
}
.skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000000;
    padding: 20px;
    margin-top: -30px;
}
.skills {
    font-size: 40px;
    color: #ff05ff; 
    margin-bottom: 30px;
    margin-top: 60px;
    text-align: center;
    background-color: #000000;
}
.col1 {
    background-color: #000000;
}

.skill-box {
    padding-top: 0%;
    width: 104px;
    height: 104px;
    width: fit-content;
    margin: 0px;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
}

.skill-box:hover {
    box-shadow: 0 10px 15px rgba(255, 4, 201, 0.3);
    transform: scale(1.03);
}

.header-social {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem auto;
}

.icon1 {
    width: 32px;
    height: max-content;
    margin: 20px;
}

.icon1:hover {
    box-shadow: 0 10px 15px #ff05ff; 
    transform: scale(1.07);
}

.icon3 {
    height: max-content;
    margin: auto;
}

.project {
    background-color: #000000;
    font-size: 50px;
    padding: 15px 9%;
    padding-bottom: 100px;
}

.headin {
    text-align: center;
    padding-bottom: 15px;
    color: #ff05ff; 
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
    font-style: roboto;
}

.promain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.box1 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #ffff;
    text-align: center;
    font-weight: 200;
    font-style: helvetica;
    padding: 30px 20px;
}

.box1 h3 {
    color: #ba08a8;
    font-size: 22px;
    padding: 10px 0;
}

.box1 p {
    color: #570049;
    font-size: 15px;
    line-height: 1.8;
}

.project .promain .box1:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}

@media(max-width: 768px) {
    .project {
        padding: 20px;
    }
    .navi
    {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .round-frame img
    {
        width:50vw;
    }
    
}

.timeline
{
    
    margin-top: -20px;
    background-color: #000000;
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin-bottom: 75px;
}
.h3mam
{
    color:#ff05ff;
    font-style: helvetica;
    font-size: 50px;
    font-weight: 600px;
    margin-bottom: 10px;
}

.timeline .title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.timeline-list {
    font-size: 16px; 
    margin-left: 45px;
}
.h4timeline-item-title
{
color:rgb(205, 54, 210);
font-style: helvetica;
}

.timeline-item {
    position: relative;
   
}

.timeline-item:not(:last-child) {
    margin-bottom: 20px;
}

.timeline-item-title {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 7px;
}

.timeline-list span {
    color: #ce03cb ; 
    font-weight: 400; 
    line-height: 1.6;
    font-style: helvetica;
}

.timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    
    width: 1px;
    height: calc(100% + 50px);
    background: #ff05ff; 
}

.timeline-item::after {
    content: "";
    position: absolute;
    
    top: 5px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: #ff05ff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #000000;
}

.timeline-text {
    color: #cf6efa ; 
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
